# Ignore Python virtual environments
env/
venv/
ENV/

# Ignore node_modules
**/node_modules/

# Ignore local environment variable files
.env

# Python caches
**/__pycache__/
*.pyc

# OS files
.DS_Store
Thumbs.db